// Atom One Dark theme colors
$onedark-color-mono-1: #abb2bf;
$onedark-color-mono-2: #828997;
$onedark-color-mono-3: #5c6370;
$onedark-color-cyan: #56b6c2;
$onedark-color-blue: #61afef;
$onedark-color-orange-1: #d19a66;
$onedark-color-orange-2: #edcc46;
$onedark-color-red-1: #e06c75;
$onedark-color-red-2: #be5046;
$onedark-color-background: #282c34;
$onedark-color-green: #98c379;

$green: mix(#52c300, $onedark-color-green, 25%);

// Minimal Mistakes colors overrides
$gray: $onedark-color-mono-2;

$primary-color: $green;
$text-color: $onedark-color-background;

$success-color: $green;
$danger-color: $onedark-color-red-2;
$warning-color: $onedark-color-orange-2;
$info-color: $onedark-color-cyan;

$footer-background-color: $text-color;

$link-color: mix(#000, mix(#52c300, $green, 25%), 50%);

$selected-text-background-color: mix(#fff, $primary-color, 25%)
