// Orbitron font from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Orbitron:700');
$orbitron: "Orbitron", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
// $sans-serif: $orbitron;
$fira-sans: "Fira Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

// $sans-serif: Arial, Helvetica, sans-serif;
// $sans-serif: "Arial Black", Gadget, sans-serif;
// $sans-serif: Impact, Charcoal, sans-serif;
// $sans-serif: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
// $sans-serif: Tahoma, Geneva, sans-serif;
$sans-serif: $fira-sans;
// $sans-serif: Verdana, Geneva, sans-serif;
