---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "colors";
@import "fonts";

// Minimal Mistakes styles
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

a:visited:hover {
  color: $link-color-hover;
}

.page__footer a, .greedy-nav a.site-title, .author__urls a {
  &:hover, &:active {
    color: $warning-color;
  }
}

.greedy-nav .visible-links a::before {
  background: $warning-color;
}

::selection {
  color: $text-color;
  background-color: $selected-text-background-color;
}

::-moz-selection {
  color: $text-color;
  background-color: $selected-text-background-color;
}

.site-title, .masthead__menu,
.page__title,
.sidebar .author__name,// .sidebar p, .sidebar li,
.page__footer-follow li,
.page__footer-copyright {
  font-family: $orbitron;
}

.site-title, .page__hero--overlay .page__title {
  text-transform: uppercase;
}

.page__hero--overlay .page__title {
  text-align: right;
}
